[submodule "vendor/M5CardputerZero-Launcher"]
	path = vendor/M5CardputerZero-Launcher
	url = git@github.com:CardputerZero/M5CardputerZero-Launcher.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = git@github.com:lvgl/lvgl.git
